# Terraform local directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Ignore real tfvars
*.tfvars
*.tfvars.json

# Allow example tfvars files
!*.tfvars.example
!*.tfvars.json.example